

 section {
    width: 100%;
    left: 0;
    height: 100%;
    position: absolute;
}
.page1 {
    top: 0;
    height: 100%;
    background: url(../img/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
}
.page2 {
    top: 100%;
    background-color: rgba(0,0,0,0);
}
.page3 {
    top: 200%;
    height: 100%;
    background-color: #FFF;
}
.page4 {
    top: 300%;
    height: 100%;
    background-color: #F4F4F4;
}
/* Button */
.button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

.button--view {
	position: fixed;
	z-index: 1000;
	bottom: 1.5em;
	left: 50%;
	width: 3em;
	height: 1.75em;
	margin: 0 0 0 -1.5em;
	-webkit-animation: pointDown 0.6s 0.6s ease-in infinite alternate forwards;
	animation: pointDown 0.6s 0.6s ease-in infinite alternate forwards;
	fill: #fff;
}

@-webkit-keyframes pointDown {
	from {
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0);
	}
	to {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

@keyframes pointDown {
	from {
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0);
	}
	to {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

.button--view path {
	-webkit-transition: fill 0.3s;
	transition: fill 0.3s;
	fill: inherit;
}

.button--view:hover,
.button--view:focus {
	outline: none;
	fill: #03a9f4;
}

