
.navbar-default{
	background-color: rgba(0,0,0,0.2);
	border-color: rgba(0,0,0,0);
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 2em;
  line-height: 50px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #05a581;
}
@media (max-width: 768px){
	.navbar-default .navbar-brand img{
		height: 50px;
		margin-top: -15px;
		margin-left: 10%;
	}
	.navbar-default .navbar-nav > li > a {
	  color: #fff;
	  text-align: center;
	  font-size: 1.3em;
	  line-height: 28px;
	}

}

.bj{
	text-align: center;
}
.bj img{
	width:100px;
    height:100px;
    margin-top: 15%;
    margin-bottom: 50px;
    border-radius:50px;
    -webkit-transform:rotate(10deg);
    -webkit-transition:-webkit-transform 2s linear;
}
.bj img:hover{
	-webkit-transform:rotate(360deg)
}
.bj hr{
	height:1px;
	color: #fff;
	width: 0;
	margin-left: 25%;
	margin-top: 1.5em;
	-webkit-animation:myfirst 3s infinite linear;
	-webkit-animation-fill-mode:forwards;  
}
@-webkit-keyframes myfirst
{
0%   {width: 0;margin-left: 50%;}
50%  {width: 50%;margin-left: 25%;}
100% {width: 0;margin-left: 50%;}
}
.bj-z p{
	text-align: center;
	font-size: 2em; 
	color: #fff;
}
.bj-zb p{
	font-size: 1.8em; 
	color: #fff;
	text-align: center;
}
@media (max-width: 768px){
	.bj img{
		width: 90px;
		height: 90px;
        border-radius:45px;
	}
	.bj-z p{
		font-size: 1.8em;
	}
	.bj-zb p{
		font-size: 1.6em;
	}
}

/*content1*/
#content1 .gyw-a{
	font-size: 2em;
	text-align: center;
	margin-top: 10%;
	color: #fff;
}
#content1 hr{
	height:4px;
	border:none;
	border-top:4px dotted #ADFF2F;
	width: 80%;
	margin-left: 10%;
	margin-top: 1.5em;/*
	-webkit-animation:twohr 20s infinite linear;
	-webkit-animation-fill-mode:forwards;*/
}
@-webkit-keyframes twohr
{
0%   {width: 80%;margin-left: 10%;}
50% {width: 0;margin-left: 50%;}
100% {width: 80;border-color:#8A2BE2;margin-left: 10%;}
}
#content1 .gyw-b{
	font-size: 1.5em;
	text-align: center;
	color: #fff;
}
#content1 .gyw-n{
	width: 80%;
	height: auto;
	overflow:hidden;
	margin-left: 10%;
	margin-top: 1em;
	background-color: rgba(0,0,0,0.1);
}

#content1 .gyw-n table{
	width: auto;
    margin: 20px auto;
    color: #fff;
}
#content1 .gyw-n table tr td{
	font-size:1.5em;
	padding:10px 10px 10px 30px;
	text-align:left;
}
#content1 .gyw-n img{
	border-radius:5%;
	width: 230px;
	height: 230px;
    -webkit-transform:rotate(10deg);
    -webkit-transition:-webkit-transform 4s linear;
}
#content1 .gyw-n img:hover{
	-webkit-transform:rotate(360deg)
}
@media (max-width: 768px){
	#content1 .gyw-n table{
		margin-left: -10%;
	}
	#content1 .gyw-n table tr td{
		font-size:1em;
	}
	#content1 .gyw-n table tr td img{
		display: none;
	}
}
#content1 .gyw-n table tr td a{
	color:#666;
}

/*content2*/
#content2 .jn-a{
	font-size: 2em;
	text-align: center;
	margin-top: 10%;
}
#content2 hr{
	height:4px;
	border:none;
	border-top:4px dotted #05a581;
	width: 80%;
	margin-left: 10%;
	margin-top: 1.5em; 
}

#content2 .jn-b{
	font-size: 1.5em;
	text-align: center;
}
#content2 .jn-n{
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-top: 1em;
}
#content2 .jn-n-a{
	float: left;
	width: 50%;
	height: auto;
}
#html,#css,#js,#jquery,#bootstrap,#ps{
	float: left;
	margin-top: 3em;
	margin-left: 1em;
	line-height: 150px;
}
#html p,#css p,#js p,#jquery p,#bootstrap p,#ps p{
	text-align: center;
	font-weight:bold;
	font-size: 1.5em;
}
@media (max-width: 768px){
	#content2 .jn-n-a{
		display: none;
	}
}

#content2 .jn-n-b{
	float: left;
	width: 50%;
	height: auto;
}
#content2 .jn-n-b .text_wrap{
	font-size:1.3em;
	line-height:1.8em;
	padding:10px 0;
	word-break:break-all;
}
@media (max-width: 768px){
	#content2 .jn-n-b{
		width: 100%;
	}
}



.container .lxw-a{
	margin-top: 20%;
	font-size: 2em;
	text-align: center;
}
.container hr{
	height:4px;
	border:none;
	border-top:4px dotted #05a581;
	margin-top: 1.5em;
	-webkit-animation:colorhr 12s infinite linear;
	-webkit-animation-fill-mode:forwards;
}
@-webkit-keyframes colorhr
{
0%   {border-color:#05a581;}
25% {border-color:#8A2BE2;}
50% {border-color:#ADFF2F;}
75% {border-color:#8A2BE2;}
100%   {border-color:#05a581;}
}
.container .lxw-b{
	font-size: 1.5em;
	text-align: center;
}
.container .col-sm-4{
	text-align: center;
}
.container .col-sm-4 .icon{
	width: 50px;
	height: 50px;
	margin: 37px auto 0;
	background: url(../img/biao.png);
}
.container .col-sm-4 p{
	font-size: 1.3em;
	/*font-weight: bold;*/
	margin-top: 1em;
	word-break:break-all;
}
@media (max-width: 768px){
	.container .lxw-a{
		font-size: 1.8em;
	}
	.container hr{
		height:1px;
		border-top:1px dotted #05a581;
		margin-top: 0em;
	}
	.container .lxw-b{
		margin-top: -0.5em;
	}
	.container .col-sm-4 .icon{
		margin-top: 15px;
	}
	.container .col-sm-4 p{
		margin-top: 0.3em;
	}
}
